@charset "utf-8";

/* CSS Document */



#wpwrap .main{width:100%; float:left; height:auto;font:14px Arial, Helvetica, sans-serif; color:#616161}

#wpwrap .main h3{font-size: 22px; margin: 0;line-height: 1; width:100%; float:left;}

#wpwrap  .main p{margin: 1em 0; width:100%; float:left;}

#wpwrap .logo_min{ margin:20px 0px;}

#wpwrap .data{width:100%;height:auto; margin:15px 0px; float:left;}

#wpwrap .f_row{width:100%; float:left; height:auto; margin:8px 0px;}

#wpwrap .f_left{width:530px; float:left; height:auto;}

#wpwrap .f_right{width:50px; float:left; height:auto; position:relative;}

#wpwrap .last{margin-top:20px !important;}

#wpwrap .submit_btn{ background:#2478A7; padding:3px 10px; font-size:12px; color:#FFF; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; border:0px; font-weight:bold; cursor:pointer;	}

#wpwrap .submit_btn:hover{background:#185170;}



#content_text{width:600px;; float:left; max-height:300px; overflow-y:scroll; overflow-x:hidden;font:12px Arial, Helvetica, sans-serif; margin-bottom:20px;}

#content_text .f_row{width:100%; float:left; height:auto; margin:2px 0px;}